@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/Larsseit/Larsseit-MediumItalic.eot');
	src: local('Larsseit Medium Italic'), local('/fonts/Larsseit/Larsseit-MediumItalic'), url('/fonts/Larsseit/Larsseit-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Larsseit/Larsseit-MediumItalic.woff2') format('woff2'), url('/fonts/Larsseit/Larsseit-MediumItalic.woff') format('woff'),
		url('/fonts/Larsseit/Larsseit-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
	
@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/Larsseit/Larsseit-Thin.eot');
	src: local('Larsseit Thin'), local('/fonts/Larsseit/Larsseit-Thin'), url('/fonts/Larsseit/Larsseit-Thin.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Larsseit/Larsseit-Thin.woff2') format('woff2'), url('/fonts/Larsseit/Larsseit-Thin.woff') format('woff'), url('/fonts/Larsseit/Larsseit-Thin.ttf') format('truetype');
	font-weight: 100;
	font-display: swap;

	font-style: normal;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/Larsseit/Larsseit-LightItalic.eot');
	src: local('Larsseit Light Italic'), local('/fonts/Larsseit/Larsseit-LightItalic'), url('/fonts/Larsseit/Larsseit-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Larsseit/Larsseit-LightItalic.woff2') format('woff2'), url('/fonts/Larsseit/Larsseit-LightItalic.woff') format('woff'),
		url('/fonts/Larsseit/Larsseit-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Larsseit';
	src: url('Larsseit.eot');
	src: local('Larsseit'), url('Larsseit.eot?#iefix') format('embedded-opentype'), url('Larsseit.woff2') format('woff2'),
		url('Larsseit.woff') format('woff'), url('Larsseit.ttf') format('truetype');
	font-weight: normal;
	font-display: swap;

	font-style: normal;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/Larsseit/Larsseit-ExtraBold.eot');
	src: local('Larsseit ExtraBold'), local('/fonts/Larsseit/Larsseit-ExtraBold'), url('/fonts/Larsseit/Larsseit-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Larsseit/Larsseit-ExtraBold.woff2') format('woff2'), url('/fonts/Larsseit/Larsseit-ExtraBold.woff') format('woff'), url('/fonts/Larsseit/Larsseit-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/Larsseit/Larsseit-BoldItalic.eot');
	src: local('Larsseit Bold Italic'), local('/fonts/Larsseit/Larsseit-BoldItalic'), url('/fonts/Larsseit/Larsseit-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Larsseit/Larsseit-BoldItalic.woff2') format('woff2'), url('/fonts/Larsseit/Larsseit-BoldItalic.woff') format('woff'),
		url('/fonts/Larsseit/Larsseit-BoldItalic.ttf') format('truetype');
	font-display: swap;
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/Larsseit/Larsseit-Light.eot');
	src: local('Larsseit Light'), local('/fonts/Larsseit/Larsseit-Light'), url('/fonts/Larsseit/Larsseit-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Larsseit/Larsseit-Light.woff2') format('woff2'), url('/fonts/Larsseit/Larsseit-Light.woff') format('woff'), url('/fonts/Larsseit/Larsseit-Light.ttf') format('truetype');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/Larsseit/Larsseit-Bold.eot');
	src: local('Larsseit Bold'), local('/fonts/Larsseit/Larsseit-Bold'), url('/fonts/Larsseit/Larsseit-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Larsseit/Larsseit-Bold.woff2') format('woff2'), url('/fonts/Larsseit/Larsseit-Bold.woff') format('woff'), url('/fonts/Larsseit/Larsseit-Bold.ttf') format('truetype');
	font-weight: bold;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/Larsseit/Larsseit-Italic.eot');
	src: local('Larsseit Italic'), local('/fonts/Larsseit/Larsseit-Italic'), url('/fonts/Larsseit/Larsseit-Italic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Larsseit/Larsseit-Italic.woff2') format('woff2'), url('/fonts/Larsseit/Larsseit-Italic.woff') format('woff'), url('/fonts/Larsseit/Larsseit-Italic.ttf') format('truetype');
	font-weight: normal;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/Larsseit/Larsseit-Medium.eot');
	src: local('Larsseit Medium'), local('/fonts/Larsseit/Larsseit-Medium'), url('/fonts/Larsseit/Larsseit-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Larsseit/Larsseit-Medium.woff2') format('woff2'), url('/fonts/Larsseit/Larsseit-Medium.woff') format('woff'), url('/fonts/Larsseit/Larsseit-Medium.ttf') format('truetype');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/Larsseit/Larsseit-ExtraBoldItalic.eot');
	src: local('Larsseit ExtraBold Italic'), local('/fonts/Larsseit/Larsseit-ExtraBoldItalic'), url('/fonts/Larsseit/Larsseit-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Larsseit/Larsseit-ExtraBoldItalic.woff2') format('woff2'), url('/fonts/Larsseit/Larsseit-ExtraBoldItalic.woff') format('woff'),
		url('/fonts/Larsseit/Larsseit-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/Larsseit/Larsseit-ThinItalic.eot');
	src: local('Larsseit Thin Italic'), local('/fonts/Larsseit/Larsseit-ThinItalic'), url('/fonts/Larsseit/Larsseit-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Larsseit/Larsseit-ThinItalic.woff2') format('woff2'), url('/fonts/Larsseit/Larsseit-ThinItalic.woff') format('woff'),
		url('/fonts/Larsseit/Larsseit-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-display: swap;
	font-style: italic;
}
