// Colors
$bg: hsl(248, 28%, 10%);
$fg: hsl(248, 5%, 100%);
$accent: hsl(261, 100%, 50%);
$secondary: hsl(327, 100%, 50%);
$tertiary: hsl(41, 100%, 50%);
$error: hsl(330, 100%, 65%);

// Fonts
$ui-font: 'Poppins', sans-serif;
$body-font: 'TabletGothicW02', sans-serif;
$title-font: 'Lexend', sans-serif;
$title-secondary-font: 'Larsseit', sans-serif;

// Media queries
$mobile-small: 320px;
$mobile: 420px;
$tablet: 768px;
$desktop: 1024px;

$clr-fg-1: $fg;
$clr-fg-2: hsl(hue($fg), saturation($fg), lightness($fg) - 10%);
$clr-fg-3: hsl(hue($fg) - 8deg, saturation($fg), lightness($fg) - 2%);
$clr-fg-350: hsl(hue($fg) - 25deg, saturation($fg) + 5%, lightness($fg) - 30%);
$clr-fg-4: hsl(hue($fg) - 25deg, saturation($fg) + 20%, lightness($fg) - 24%);
$clr-fg-450: hsl(hue($fg) - 25deg, saturation($fg) + 5%, lightness($fg) - 45%);
$clr-fg-5: hsl(hue($fg) - 25deg, saturation($fg) + 16%, lightness($fg) - 80%);
$clr-text: hsl(247, 53%, 90%);

$clr-bg-1: hsl(hue($bg) + 1deg, saturation($bg) - 14%, lightness($bg) + 7%);
$clr-bg-2: hsl(hue($bg) + 4deg, saturation($bg) - 10%, lightness($bg) + 5%);
$clr-bg-3: hsl(hue($bg), saturation($bg), lightness($bg) + 1%);
$clr-bg-3-glass: hsla(hue($bg), saturation($bg), lightness($bg) + 1%, 85%);
$clr-bg-350: hsl(hue($bg) + 8deg, saturation($bg) - 5%, lightness($bg) + 8%);
$clr-bg-4: hsl(hue($bg) + 1deg, saturation($bg) - 2%, lightness($bg));
$clr-bg-450: hsl(hue($bg) - 8deg, saturation($bg) - 4%, lightness($bg) - 2%);
$clr-bg-5: hsl(hue($bg) - 8deg, saturation($bg) - 4%, lightness($bg) - 7%);
$clr-card: hsla(hue($bg), saturation($bg) - 12%, lightness($bg) + 5%, 0.35);

$accent-0: hsl(hue($accent) - 14deg, saturation($accent), lightness($accent) + 30%);
$accent-05: hsl(hue($accent), saturation($accent), lightness($accent) + 15%);
$accent-1: hsl(hue($accent) + 5deg, saturation($accent), lightness($accent) + 5%);
$accent-2: $accent;
$accent-3: hsl(hue($accent), saturation($accent), lightness($accent) - 22%);
$accent-4: hsl(hue($accent), saturation($accent), lightness($accent) - 36%);


@mixin hover {
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			@content;
		}
	}
}
