@font-face {
    font-family: 'Nofex';
    src: url('NofexRegular.woff2') format('woff2'),
        url('NofexRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

