@font-face {
	font-family: 'Nofex';
	src: url('/fonts/Nofex/NofexRegular.woff2') format('woff2'), url('/fonts/Nofex/NofexRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
