@font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMonoNerdFontComplete-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMonoNerdFontComplete-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

